body {
min-height: 2000px;
background-image: url(https://i.pinimg.com/originals/e5/7b/9b/e57b9bc0f14b0ff3d8ba2833a6f8603f.jpg);


}



.navbar-static-top {
margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
resize:none
}
